@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
}

body{
    font-family: poppins;
}
p::selection, h1::selection, h3::selection, span::selection, a::selection, div::selection{
    background-color: #675ee8;
    color: white;
}
.hero{
    display: flex;
    /* background: linear-gradient(to right bottom, #262534, #262537, #272639, #27263c, #363453); */
    background-repeat: no-repeat;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    
}
.nav{
    position: fixed;
    background-color: #675ee8;
    backdrop-filter: blur(10px);
    box-shadow:
                0px 2.9px 2.2px rgba(0, 0, 0, 0.045),
                0px 6.9px 5.3px rgba(0, 0, 0, 0.065),
                0px 13px 10px rgba(0, 0, 0, 0.08),
                0px 23.2px 17.9px rgba(0, 0, 0, 0.095),
                0px 43.4px 33.4px rgba(0, 0, 0, 0.115),
                0px 104px 80px rgba(0, 0, 0, 0.16);
    width: 100vw;
}
.list{
    display: flex;
    justify-content: space-around;
    list-style: none;
    color: white;
    height: 40px;
    align-items: center;
}
.list a{
    text-decoration: none;
    color: rgb(224, 224, 224);
    padding: 0px 10px;
}
.list a:hover{
    color: #262534;
}

 h1::selection, h3::selection, p::selection, span::selection{
    background: orangered;
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background: linear-gradient(to bottom right, rgb(32, 4, 33), rgb(10, 10, 10));
}
.hero{
    display: block;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero h1{
    margin: 10px;
    font-size: 8em;
    font-family: poppins;
    color: #675ee8;
}
.hero button{
    margin: 40px;
    width: 100px;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 10px;
    font-family: poppins, sans-serif;
    background: rgb(243, 243, 243);
    transition: .2s ease-in-out;
  box-shadow: -6px -6px 14px rgba(255, 255, 255, .7),
              -6px -6px 10px rgba(255, 255, 255, .5),
              6px 6px 8px rgba(255, 255, 255, .075),
              6px 6px 10px rgba(0, 0, 0, .15);
}

.hero h3{
    font-family: poppins;
    font-size: 15em;
}
#btnStart:hover{
    background-color: aquamarine;
    box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
              -2px -2px 4px rgba(255, 255, 255, .4),
              2px 2px 2px rgba(255, 255, 255, .05),
              2px 2px 4px rgba(0, 0, 0, .1);
}
#btnStop:hover{
    background-color: #FF6F91;
    box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
              -2px -2px 4px rgba(255, 255, 255, .4),
              2px 2px 2px rgba(255, 255, 255, .05),
              2px 2px 4px rgba(0, 0, 0, .1);
}
#btnSet:hover{
    background-color: #FFC75F;
    box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
              -2px -2px 4px rgba(255, 255, 255, .4),
              2px 2px 2px rgba(255, 255, 255, .05),
              2px 2px 4px rgba(0, 0, 0, .1);
}
#btnStart:active{
    
  box-shadow: inset -2px -2px 6px rgba(255, 255, 255, .7),
  inset -2px -2px 4px rgba(255, 255, 255, .5),
  inset 2px 2px 2px rgba(255, 255, 255, .075),
  inset 2px 2px 4px rgba(0, 0, 0, .15);
}
#btnStop:active{
    box-shadow: inset -2px -2px 6px rgba(255, 255, 255, .7),
                inset -2px -2px 4px rgba(255, 255, 255, .5),
                inset 2px 2px 2px rgba(255, 255, 255, .075),
                inset 2px 2px 4px rgba(0, 0, 0, .15);
}
#btnSet:active{
    
  box-shadow: inset -2px -2px 6px rgba(255, 255, 255, .7),
  inset -2px -2px 4px rgba(255, 255, 255, .5),
  inset 2px 2px 2px rgba(255, 255, 255, .075),
  inset 2px 2px 4px rgba(0, 0, 0, .15);
}


@media all and (max-width: 427px) {
    .hero h3{
        font-family: poppins;
        font-size: 7.5em;
    } 
    .hero h1{
        font-size: 5rem;
    }
    .nav{
        display: none;
        background-color:#00000032;
        backdrop-filter: blur(100px);
    }
    .nav-smallerDevice{
        display: flex;
        position: fixed;
        width: 100vw;
        padding: 5px 20px;
        font-size: 1.6rem;
        color: #675ee8;
        justify-content: space-between;
        align-items: center;

    }
    .nav-smallerDevice a{
        text-decoration: none;
        color: #675ee8;
        font-weight: 900;
    }
    .nav-smallerDevice:active{
        color: white;
    }
    .nav-smallerDevice a:active{
        color: white;
    }
    .illustration{
        display: none;
    }
    .nav{
        position: fixed;
        width: 50vw;
        height: 100%;
        transform: scaleX(0);
        transform-origin: left;
        transition: 0.3s ease-in-out;
    }
    .list{
        display: flex;
        flex-direction: column;
        justify-content: left;
        margin: 10px 20px;
        align-items: flex-start;
        font-family: 1rem;
    }
    .lists{
        padding: 20px;
        font-size: 1.4rem;
        display: flex;
        flex-direction: column;
        justify-content: left;
    }
    .lists a:hover{
        color: #675ee8;
    }
    .lists a{
        font-size: 1rem;
    }
}