@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.hero{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background: url('https://img.freepik.com/free-photo/vivid-blurred-colorful-wallpaper-background_58702-3874.jpg?t=st=1653896891~exp=1653897491~hmac=65e0f13247485702d3e89bc87bab9bd1d4450925dc0af07fae05e2e955f010cc&w=1060');
    background-size: cover;
}
.container{

    width: 400px;
    /* background-color: #0c2742; */
    background-color: #ffffff1d;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 20px;
    height: min-content;
    box-shadow:
        2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
        6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
        12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
        22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
        41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
        100px 100px 80px rgba(0, 0, 0, 0.07)
;
}
.resultContainer{
    display: flex;
    flex-direction: column;
}
.resultContainer input{
    text-align: right;
    background-color: transparent;
    color: white;
    padding: 5px;
    font-size: 1.4rem;
    border: none;
    outline: none;
}
.margin{
    margin: 10px 0;
    border-top: rgba(0, 128, 255, 0.515) 2px solid;
}
#operator{
    font-family: poppins;  
    font-size: 1.3rem;
    color: #bf00ff6e;
    font-weight: 500;
}
#result{
    font-family: poppins;  
    font-size: 3rem;
    font-weight: 800;
}
.calculator{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.calculator button{
    font-family: poppins;
    font-size: 1.5rem;
    margin: 5px 10px;
    border-radius: 15px;
    border: none;
    outline: none;
    height: 80px;
    background: none;
    cursor: pointer;
}
.calculator button:hover{
    background-image: linear-gradient(to left bottom, #00c6ff, #00b2ff, #0098ff, #696fff, #c000ff);
}
.calculator button:active{
    background: rgb(255, 255, 141);
}
.ops{
    color: #c000ff;
}
.ops:hover{
    color: white;
}
button{
    color: white;
}
#clear{
    color: orange;
}
footer p{
    font-family: poppins;
    color: #0c2742;
    padding-top: 20px;
}
footer p::selection{
    
    background-color: black;
    color: white;
}